@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,400&display=swap');

body {
  background-color: rgba(221, 221, 221, 0.445);
  font-family: 'Roboto Mono', monospace;  text-align: center;
  align-content: center;
  display: block;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0 5px 7px rgba(83, 65, 65, 0.602);
}

.notePad {
  background-color: rgb(250, 251, 239);
  display:block;
  margin: auto;
  border-radius: 8px;
  border:1px solid rgb(0, 0, 0);
  box-shadow: 0 5px 7px rgba(83, 65, 65, 0.602);
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

button {
  display:block;
  margin:auto;
  border-radius: 8px;
  background-color: rgba(51, 105, 253, 0.397);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15);
  padding: 5px 24px;
}
button:hover {
  background-color: rgba(36, 207, 36, 0.603);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.25);
}

a {
  height: 30px;
  width: 250px;
  color: black;
  border: 1px solid black;
}

.listNotes:link {
  line-height: 30px;
  text-decoration: none;
  border-radius: 5px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250, 251, 239);
}

.listNotes:hover {
  background-color: yellow;
  -webkit-animation: random 2s infinite;
}

@keyframes random {
  15% { background-color: rgba(252, 32, 32, 0.658); }
  30% { background-color: rgba(255, 255, 0, 0.733); }
  45% { background-color: rgba(12, 230, 12, 0.692); }
  60% { background-color: rgba(0, 0, 255, 0.63); }
  75% { background-color: white; }
}

.squirtle {
  border: none;
  height: 10px;
}

.fullNotes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
  border-radius: 5px; 
  border: 2px solid #9e8f7e;
  background-color: rgba(133, 164, 248, 0.192);
  padding: 20px;
  box-shadow: 0 5px 7px rgba(83, 65, 65, 0.602);
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
} 

@keyframes blink {
  15% { background-color: rgba(252, 32, 32, 0.658); }
  30% { background-color: rgba(255, 255, 0, 0.733); }
  45% { background-color: rgba(12, 230, 12, 0.692); }
  60% { background-color: rgba(0, 0, 255, 0.63); }
  75% { background-color: white; }
}
