html {
  background-image: url("./paper texture.jpeg");
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  ;
  font-size: 128px;
  font-weight: 800;
  text-align: center;
}